/* de styling van mainpage */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(194, 0, 0, 0.35);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
.chatList::-webkit-scrollbar {
  width: 8px; 
}

.chatList::-webkit-scrollbar-track {
  background: #000000; /* Achtergrond van de scrollbar track */
}

.chatList::-webkit-scrollbar-thumb {
  background: #580000; /* Kleur van de scrollbar thumb */
  border-radius: 6px; /* Afgeronde hoeken voor de scrollbar thumb */
}

.chatList::-webkit-scrollbar-thumb:hover {
  background: #420000; /* Kleur van de scrollbar thumb bij hover */
}

.center::-webkit-scrollbar {
  width: 8px; 
}

.center::-webkit-scrollbar-track {
  background: #000000; /* Achtergrond van de scrollbar track */
}

.center::-webkit-scrollbar-thumb {
  background: #4d0000; /* Kleur van de scrollbar thumb */
  border-radius: 6px; /* Afgeronde hoeken voor de scrollbar thumb */
}

.center::-webkit-scrollbar-thumb:hover {
  background: #580000; /* Kleur van de scrollbar thumb bij hover */
}

.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}
